* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.justify-center {
  justify-content: center;
}

.container {
  width: 900px;
  margin: 0 auto;
  border: 2px red solid;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}
